.marco {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
    h1{
        color: white;
        font-family: 'SF Pro Display', sans-serif;
        font-weight: 700;
    }
}

.cronometro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 400px;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
    font-family: 'SF Pro Display', sans-serif;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.28);
    box-shadow: 0 4px 35px rgba(105, 105, 105, 0.45);
    border-radius: 20px;
}

.display {
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 4px;
    color: white;
}

.controls button {
    background: white;
    color: black;
    padding: 12px 22px;
    margin: 0 6px;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
}

.controls button:hover {
    background: black;
    color: white;
}

.controls button:active {
    transform: scale(0.95);
}